@import "colors";
@import "responsive";

.container {
  display: flex;
  font-size:$primary-font-size;
  width: 100%;
  font-size: 14px;
  background-color: $primary;

  #sideMenu {
    width: 30%;
    position: fixed;


    .menuItem {
      display: flex;
      border: 1px solid $primary;
      border-radius: 10px;
      height: 2.5em;
      margin: 0.7em 0 0 0;
      padding: 1em 0 0 1em;
      cursor: pointer;

      &:hover {
        background-color: $hover_color;
      }

      .top {
        border: none;
      }

      .icon {
        height: 2em;
        width: 2em;
        margin: 0 1em 0 0;

        .profile {
          background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
          background-size: contain;
        }
      }

      .title {
        font-size: 1.2em;
        font-weight: 600;
      }
    }
  }

  #profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.hidden {
      display: none;
    }

    .cover-image {
      background-image: url("");
      background-size: contain;
      width: 100%;
      height: 15em;
    }

    .personal-data-main {
      display: flex;
      justify-content: space-between;
      position: relative;
      transform: translateY(-50%);
      padding: 0 3em;

      .profile-image {
        background-image: url("");
        background-size: cover;
        width: 7em;
        height: 7em;
        border: 5px solid white;
        border-radius: 50%;
        background-repeat: no-repeat;
      }
    }

    .personal-data-bottom {
      display: flex;
      flex-direction: column;

      .more-about-me {
        display: flex;
        justify-content: space-between;

        img {
          width: 2em;
          height: 2em;
        }
      }
    }
  }

  #newsFeedWrapper {
    margin: 1em 0 0 32%;
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;

    .tweetType {
      display: flex;

      .icon {
        margin: 0.5em;
        padding: 0.3em;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        line-height: 1em;
        text-align: center;
        vertical-align: middle;

        &:hover {
          background-color: $hover_color;
          color: black;
        }
      }
    }

    .tweetUpdate {
      width: 10em;
    }

    .actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    #tweetWrapper {
      &.hidden {
        display: none;
      }

      .content {
        .profileImage {
          background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
          background-size: contain;
          width: 5em;
          height: 5em;
          border-radius: 50%;
        }

        .textUpdate textarea {
          width: 100%;
          height: 7em;
          font-size: 1em;
        }
      }
    }

    #newsFeed {
      margin: 2em 0 0 0;

      .item {
        border: 1px solid blue;
        border-radius: 10px;
        margin: 2em;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
      }

      .userProfile {
        display: flex;

        .image {
          margin: 0 0.7em 0 0;
          width: 3em;
          height: 3em;
          background-image: url("https://pbs.twimg.com/profile_images/1090932791829819393/Syg_hmp6_bigger.jpg");
          background-size: contain;
          border-radius: 50%;
        }

        .name {
          font-size: 1em;
          font-weight: 600;
        }
      }

      .content {
        font-size: 1em;
        margin: 1em 0;
      }

      .actionsWrapper {
        display: flex;

        .action {
          width: 1.3em;
          height: 1.3em;

          &:hover {
            background-color: $hover_color;
          }
        }
      }
    }
  }

  #overlay {
    display: none;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    #editProfileForm {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 70%;
      border: 3px solid rgba(0, 0, 0, 0.6);
      align-self: center;
      background-color: #ffffff;
      padding: 3em;
    }
  }

  .gongButton {
    margin: 0.7em 0 0 0;
    padding: 0.3em;
    background-color: rgb(29, 161, 242);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
    height: 3em;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;
    font-size: 1.3em;
    font-weight: 600;

    @include for-size(phone-only) {
      background-color: $button_mobile;
    }
  }

  .gongButton:hover {
    background-color: rgb(29, 161, 220);
  }

}
